# Pytorch with cuda support
--extra-index-url https://download.pytorch.org/whl/cu129

requests
soundfile
gradio>=6.14.0
pydub
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
tqdm
# voxcpm>=2.0.3
voxcpm@git+https://github.com/DEVAIEXP/VoxCPM.git@feat-add-seed
omnivoice>=0.1.5
pydownloader@git+https://github.com/GoldenBookCover/pydownloader.git
